.hero {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
    backface-visibility: hidden;
	height: 100vh;
	overflow: hidden;
	position: relative;
    width: 100%;
    width: auto;
    height: 350px;

    }
    h1 {
        text-align: center;
        margin-top: 50px;
        color: pink;
        font-size: 70px;
        font-family: 'Goblin One', cursive;
    }
    .title{
        background-color: rgba(22, 22, 22, 0.952);
        color: white;
        padding: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .currentConditions{
        display: none;
    }
    .contentShow {
        border: black;
        width: 100%;
        margin-top: 30px;
    }




    #currentDate{
        font-family: 'Dancing Script', cursive;
        float:right;
        margin-right: 10px;
    }
   
    .search-component {
        margin: 20px;
    }
    #uvIndex{
        width: 76px;
        height: 45px;
    }

    #currentTempIcon{
        float: right;
        width: 100px;
        height: 100px;
        margin-right:30px;
        margin-top: 20px;
       
        
        
    }